/* Some default items used in flexible layouts */
.navbar-simple{
  font-size: 2em;
  border-bottom: 0.1em groove var(--color-0);
  text-align: center;
}

.footer{
  height: 2em;
  border-top: 0.1em groove var(--color-0);
  border-bottom: 0.1em groove var(--color-0);
  align-content: center;
}
.footer-item{
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 2em;
}
.footer-item:last-child{
  margin-left: auto;
  margin-right: 2em;
}

.directionButton{
  width: 25px;
  height:25px;
}
.actionbuttons{
  width:25px;
  height: 25px;
}

.control-buttons{
  margin-top: 5px;
  margin-left: 5px;
}
/* .movement-buttons{
  font-size: 2vh;
  width: 10em;
  height: 10em;
}*/
