/* custom layout for game */

.game-layout-grid{
  display:grid;
  height: 500px;
  width: 600px;
  margin-left: calc((100vw - 600px) / 2);
  margin-top: calc((100vh - 500px) / 2);
  grid-template-rows: repeat(6 * 100px);
  grid-template-columns: repeat(6 * 100px);
  grid-template-areas:
  "x x x x x x"
  "x x x x x x"
  "x x x x x x"
  "x x x x x x"
  "x x x x x x"
  "c c c i i i";
}

.log-window{
  grid-area: x;
  width: 600px;
  height: 400px;
}
.button-area{
  grid-area: c;
  width: 150px;
  height: 100px;
}
.inventory-area{
  grid-area: i;
  width: 450px;
  height: 100px;
  margin-top: 3px;
}
.inventory-slot{
  margin-left: 2px;
  font-size: 16px;
  width: 1em;
  text-align: left;
}
.item-field{
  width: 130px;
  height: 26px;
  border: 1px solid blue;
  background-color: black;
  color: white;
}
