/* custom layout for game */

.main-layout-grid{
  display:grid;
  height: 600px;
  width: 600px;
  grid-template-rows: repeat(6 * 100px);
  grid-template-columns: repeat(6 * 100px);
  grid-template-areas:
  "x x x x x x"
  "x x x x x x"
  "x x x x x x"
  "x x x x x x"
  "x x x x x x"
  "c c c i i i";
}

.log-window{
  grid-area: x;
  background-color: red;
  width: 600px;
  height: 500px;
}
.button-area{
  grid-area: c;
  width: 150px;
  height: 100px;
  background-color: green;
}
.inventory-area{
  grid-area: i;
  width: 450px;
  height: 100px;
  background-color: blue;
}
.inventory-slot{
  margin-left: 2px;
  font-size: 16px;
  width: 1em;
  text-align: left;
}
.item-field{
  width: 130px;
  height: 27px;
  border: 1px solid green;
  background-color: black;
  color: white;
}
